<!DOCTYPE html>
{% extends 'MainTemplate.html' %}

{% block content %}
<body>
<div class="container-fluid fs-6" style="max-width: 1200px;">
    <div class="row content">
        <div class="col-sm-5">
            <h3>Welcome to FinePosts</h3>
            <br>
            <p>We have the simple philosophy that the content creator is the business owner. Whether you are creating
            content for fans, other interests, or yourself, we believe that the majority of all revenue goes to you. We mean it. </p>
            <p>Revenue collected from subscription content, advertisers, private hosting, auctions
            of products or props used in your content... even selling your content as a non-fungible token (NFT).</p>
            <p>The level of return is based on the number of monthly subscribers, the quality of your content, and how active you are in
            selling content, experiences, products, or props within your own space. If you wish to generate ad revenue from your traffic, we
            offer this as well. We collect a small percentage fee on all revenue generated. We believe our fees rival our competitors, and believe
                you will think so as well. </p>
            <p>Sign up, provide some age verification information, set up your financial target information, and begin creating the content you want.
            </p>
            <br>
            <p>Happy Creating!</p>
        </div>
    </div>

</div>
</body>

{% endblock %}

