{% extends 'MainTemplate.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container">
    <h1>HTMX PLAY</h1>

    <form method="POST" action="#" autocomplete="off">
        {%csrf_token%}

        <div class="form-group mb-3">
            <label>{{form.email.label_tag}}</label>
            {{form.email.errors}}
            <!--            Trigger Delay can be achieved by delay:0.5s, throttling can be done as well using throttle:0.5s
                             you can also use changed-->
            {% render_field form.email class="form-control" hx-post="/check_username/" hx-trigger="keyup delay:0.5s" hx-swap="outerhtml" hx-target="#username-error" %}

            <div id="username-error">
            </div>
        </div>
    </form>

    <div>
        <div class="input-group">
            <form>
                {%csrf_token%}
                <input type="text" class="form-control" name="captiontext" placeholder="Caption" aria-label="Caption"
                       aria-describedby="input-group-left" autocomplete="off">
                <button class="btn btn-primary" hx-post="{% url 'createnoimagepost' %}" hx-target="#postslist">add</button>

            </form>

        </div>
        <div id="postslist">
            {% include 'postitApp/user_posts.html' %}
        </div>
    </div>
</div>


{% endblock %}
