<!DOCTYPE html>
{% extends 'MainTemplate.html' %}

{% block content %}

<style>
    p{font-size: 0.9rem;}
</style>


<body>
{% load static %}

{% if user.is_authenticated %}
<div class="container-fluid fs-6"  style="max-width: 1200px;">
    <div class="row content">
        <div class="col-sm-2">
            <div class="text-center">
                <p>{% lorem 1 %}</p>
            </div>
            <div class="text-left">
                {% include 'postitApp/footer.html' %}
            </div>
        </div>
        <div class="col-sm-5 text-left">
            {% include 'postitApp/feed.html' %}
            <br>
            <div>
                <a href="{% url 'create_post' %}">Create Post</a>
            </div>
        </div>
        <div class="col-sm-3 text-left">
            <br>
            <p>{%lorem 1%}</p>
        </div>
    </div>
</div>
{% else %}
{% include 'postitApp/registration/landing_page.html' %}
{% endif %}

</body>

{% endblock %}