<!DOCTYPE html>
{% load static %}
<style>
    body{
        padding-top: 65px;
    }
.image-shift-up {
  position: relative;
  z-index: 0;
}

.navbar {
    height: 45px !important;
}







</style>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top d-inline-flex"
     style="padding-left: 230px; padding-right: 270px;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/finepostslogo.png' %}" width="85px" height="25px"/>
        </a>
        <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" style="height:80%;" type="text" placeholder="Search">
                <button class="btn btn-warning btn-sm" type="button">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}



                    <!--<small class="nav-link" style="font-size: 0.9rem; padding-bottom: 0px; margin: 0px;">{{request.user.username}}</small>
                    <a class="nav-link" href="{% url 'logout' %}"
                       style="font-size: 0.9rem; padding-top: 0px;">Logout</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}-->
                </li>
            </ul>

            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="avatar avatar--small active">
                            <img src="{{request.user.avatar.url}}"/>
                        </div>
                </a>

                <ul class="dropdown-menu d-stacked custom-dropdown-menu"  aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="hrline"/></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>