<form id="myList" class="list-group col sortable" hx-get="{% url 'dogs-list' %}"
      hx-trigger="end, click" hx-target="#dogs_stuff">
    <div class="htmx-indicator">Updating...</div>
    <div style="border:1px solid #DEDEDE; padding:12px; margin: 8px; width:200px"><input type="hidden"
                                                                                         name="item"
                                                                                         value="5"> Item 5
    </div>
    <div style="border:1px solid #DEDEDE; padding:12px; margin: 8px; width:200px"><input type="hidden"
                                                                                         name="item"
                                                                                         value="4"> Item 4
    </div>
    <div style="border:1px solid #DEDEDE; padding:12px; margin: 8px; width:200px"><input type="hidden"
                                                                                         name="item"
                                                                                         value="3"> Item 3
    </div>
    <div style="border:1px solid #DEDEDE; padding:12px; margin: 8px; width:200px"><input type="hidden"
                                                                                         name="item"
                                                                                         value="1"> Item 1
    </div>
    <div style="border:1px solid #DEDEDE; padding:12px; margin: 8px; width:200px"><input type="hidden"
                                                                                         name="item"
                                                                                         value="2"> Item 2
    </div>
</form>


