{% load static %}


{% if not u %}
no suggested users

{% else %}
<div id="unfollowed_user{{u.id}}" class="row fade-in">
    <div class="col-sm-2">
        <div class="avatar avatar--small active">
            <a href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
               title="" data-bs-content="Learn Javascript."
               data-bs-original-title="Dismissible popover">
                <img src="{{u.avatar.url}}"/>
            </a>
        </div>
    </div>

    <div class="col-sm-4">
        <h6 class="red" style="padding: 0px; margin: 0px">{{u.username}}</h6>


        <!--
        Get the number of followers for the unfollowed users. This requires a custom made query as described below

        Dot lookups can be summarized like this: when the template system encounters a dot in a variable name, it tries the following lookups, in this order:

        Dictionary lookup (e.g., foo["bar"])
        Attribute lookup (e.g., foo.bar)
        Method call (e.g., foo.bar())
        List-index lookup (e.g., foo[2])
        The system uses the first lookup type that works. It’s short-circuit logic.
        -->
        <!--This logic is contained in the view as get_item()-->
        <p><small><small>{{ fq|get_item:u.username|length }} Followers</small></small></p>

    </div>
    <div class="col-sm-1">
        <a href="#"
           hx-get="{%url 'follow-and-get-new-suggested-user' u.id %}"
           hx-trigger="click"
           hx-target="#unfollowed_user{{u.id}}"
           hx-swap="outerHTML settle:0.5s"
           style="color:#2349fa; text-decoration: none"><p><small>Follow</small></p></a>
    </div>
</div>



<!--Call the popup script that is canned with bootstrap-->
<script src="{% static 'js/popover.js' %}"></script>

{% endif %}